<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Deezer API-->
    <script src="https://cdns-files.dzcdn.net/js/min/dz.js"></script>
        <!-- Socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        var room_name = `<%=room_name%>`;
        console.log("tracks: "+`<%=tracks.tracks.data[0].id%>`);
        
        socket.emit('join_room', {room_number: room_name, music_section: true});
        socket.emit('start_player', {track_id: `<%=tracks.tracks.data[0].id%>`});
    </script>
  </head>
  <body style="background: linear-gradient(to right, #136a8a, #267871); border-radius: 6px; height: 120px;">
    <nav class="navbar navbar-expand-sm" style="background-color: black;">
        <a class="navbar-brand" href="">
            <i style="color: white;" class=" fas fa-compact-disc fa-2x"></i>
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i style="color: white;" class="fas fa-bars"></i>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <br>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="loginLink" onclick="changeColorLogin()" style="font-size: 30px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" href="/Account">Account</a>
                </li>
                <li class="nav-item">
                    <a id="signupLink" onclick="changeColorSignUp()" style="font-size: 30px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" href="/About">About</a>
                </li>
            </ul>
            <br>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
    <%
        var x = 0;

        while (tracks.tracks.data[x])
        {
            var track_id = tracks.tracks.data[x].id;
            var track_title = tracks.tracks.data[x].title;
            var cover_image = tracks.tracks.data[x].album.cover_medium;
    %>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-11">
                    <form action="/music_player" method="post" style="width: auto;">
                        <input type="hidden" name="track_id" value=<%=track_id%>>
                        <input type="hidden" name="track_title" value=<%=track_title%>>
                        <input type="hidden" name="cover_image" value=<%=cover_image%>>
                        <img src=<%=tracks.tracks.data[x].album.cover_small%>>
                        <span style="margin-left: 10px; font-size: 15px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: -35px;"><%=tracks.tracks.data[x].title%></span>
                        <input style="float: right; margin-top: 13px; width: 30px; height: 30px; filter: invert(100%);" type="image" name="submit" src="../sprites/Daco_5913043.png">
                    </form>
                </div>
            </div>
    <%
            x++;
        }
     %>
    </div>
    <br>
    <br>
    <br>
    <nav class="navbar navbar-expand-sm fixed-bottom justify-content-center" style="margin-bottom: 38px;">
        <div class="row">
            <!--<div class="col-sm-" style="margin: auto;">
                 Music player goes here 
                <audio id="myAudio" controls>
                    <source src="/music_player/music_output" type="audio/mpeg">
                </audio> 
            </div> -->

            <div id="dz-root"></div>
            <div id="player" style="margin: auto;"></div>
            <script src="https://cdns-files.dzcdn.net/js/min/dz.js"></script>
            <script>
                console.log("screen width: "+screen.width);
                DZ.init({
                    appId  : '637500692',
                    channelUrl : 'http://localhost:3002/channel',
                    player: {
                        container: 'player',
                        playlist: false,
                        width : screen.width,
                        height : 58,
                        layout: 'dark',
                        onload : function(){}
                    }                
                });
        
                var token = `<%=access_token%>`;
                console.log("access_token: "+`<%=access_token%>`);
                var token_expiration = 0;
                var sdk_options = {
                    token: {
                        access_token: token,
                        expire: token_expiration
                    },
                    player: {
                        current_track: {},
                        muted: false,
                        repeat: 1,
                        shuffle: false,
                        volume: 100,
                    }
                };
                socket.on('player_started', (data) => {
                    console.log("track_id: "+data.track_id);
                    DZ.ready(function(sdk_options)
                    {
                        console.log('DZ SDK is ready', sdk_options);
                        var track = data.track_id;
                        DZ.player.playTracks([track]);
                    });
                })
            </script>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm fixed-bottom justify-content-center" style="background-color: black; border-color: black;">
        <a href="/home"><i style="color: white; margin-right: 25px;" class="fas fa-home"></i></a>
        <a href="/search"><i style="color: white; margin-left: 25px; margin-right: 25px;" class="fas fa-search"></i></a>
        <a href="/my_music"><i style="color: white; margin-left: 25px; margin-right: 25px;" class="fas fa-music"></i></a>
        <!-- Button to Open the Modal -->
        <button style="margin-left: 20px; background-color: black; border-color: black;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-stream"></i>
        </button>
    </nav>
    <script>
        function changeColorLogin() {
            document.getElementById("loginLink").style.color = "#348F50";
        }
        function changeColorSignUp() {
            document.getElementById("signupLink").style.color = "#348F50";
        }
    </script>
  </body>
</html>