<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Scrollmenu -->
    <style>
        .scrolling-wrapper {
            overflow: auto;
            white-space: nowrap;
        }
        .card {
            display: inline-block;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            }
    </style>
  </head>
  <body style="background: linear-gradient(to right, #16222A, #3A6073); border-radius: 6px; height: 120px;">
    <nav class="navbar navbar-expand-sm" style="background-color: black;">
        <a class="navbar-brand" href="">
            <i style="color: white;" class=" fas fa-compact-disc fa-2x"></i>
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i style="color: white;" class="fas fa-bars"></i>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <br>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="loginLink" onclick="changeColorLogin()" style="font-size: 30px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" href="/Account">Account</a>
                </li>
                <li class="nav-item">
                    <a id="signupLink" onclick="changeColorSignUp()" style="font-size: 30px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" href="/About">About</a>
                </li>
            </ul>
            <br>
        </div>
    </nav>    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm- scrolling-wrapper" id="tracks">
                <%
                    var x = 0;

                    while (albums.data[x])
                    {
                        var url_loc = "/album/"+albums.data[x].id;
                %>
                        <div class="card" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0);">
                            <div class="list-group">
                                <a href=<%= url_loc %> class="list-group-item list-group-item-action" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0);">
                                    <img class="shadow-lg p-3 bg-white mb-5" src=<%= albums.data[x].cover_medium %>>
                                    <p style="font-size: 20px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: -35px;">
                                        <%=albums.data[x].title%>
                                    </p>
                                </a>
                            </div>
                        </div>
                <%
                        x++;
                    }
                %>
            </div>
        </div>
        <br>
            <%
                var y = 0;

                while (songs.data[y])
                {
                    var song_name = songs.data[y].title;
                    var artist_name = songs.data[y].artist.name;
                    var id = songs.data[y].id;
             %>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-11">
                            <!-- <div class="list-group">
                                <a href="/music_player/<%=song_name+'/'+artist_name+'/'+id%>" class="list-group-item list-group-item-action" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0);">
                                    <img src=<%=songs.data[y].album.cover_small%>>
                                    
                                </a>
                            </div> -->
                            <form action="/music_player" method="post" style="width: auto;">
                                <input type="hidden" name="track_id" value=<%=songs.data[y].id%>>
                                <input type="hidden" name="cover_image" value=<%=songs.data[y].album.cover_medium%>>
                                <input type="hidden" name="track_title" value=<%=songs.data[y].title%>>
                                <img src=<%=songs.data[y].album.cover_small%>>
                                <span style="margin-left: 10px; font-size: 15px; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: -35px;"><%= songs.data[y].title_short%><span> | </span>song - <%= songs.data[y].artist.name%></span>
                                <input style="float: right; margin-top: 13px; width: 30px; height: 30px; filter: invert(100%);" type="image" name="submit" src="../sprites/Daco_5913043.png">
                            </form>
                        </div>
                    </div>
            <%
                    y++;
                }
            %>
        <br>
    </div>
    <nav class="navbar navbar-expand-sm fixed-bottom justify-content-center" style="background-color: black; border-color: black;">
        <a href="/home"><i style="color: white; margin-right: 30px;" class="fas fa-home fa-2x"></i></a>
        <a href="/search"><i style="color: white; margin-left: 30px; margin-right: 30px;" class="fas fa-search fa-2x"></i></a>
        <a href="/my_music"><i style="color: white; margin-left: 30px;" class="fas fa-music fa-2x"></i></a>
    </nav>
    <script>
        function changeColorLogin() {
            document.getElementById("loginLink").style.color = "#348F50";
        }
        function changeColorSignUp() {
            document.getElementById("signupLink").style.color = "#348F50";
        }
    </script>
  </body>
</html>